
!.vscode/extensions.json
# Editor directories and files
# Logs
# Wrangler / Cloudflare
# local backups
*.backup
*.before-*
*.before-fix
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.zip
*backup*
.DS_Store
.dev.vars
.env*
.idea
.nitro
.output
.tanstack/**
.vinxi
.vscode/*
.wrangler/
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
src-backup-*
src-backup-before-seo/
yarn-debug.log*
yarn-error.log*
